@model Person

<div class="row">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div class="col-3">@Model.CityName</div>
    <div class="col-1.5">@Html.ActionLink("Details","Details","People", new {id = Model.Id})</div>
    <div class="col-1.5">@Html.ActionLink("Delete","Delete","People", new {id = Model.Id})</div>
    <div class="col-1.5">@Html.ActionLink("Edit","Edit","People", new {id = Model.Id})</div>

</div>
<hr />